<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>去哪吃饭</title>
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/layer.css">
    <script src="/js/lib/require.js" charset="utf-8"></script>
    <script src="/js/lib/template.js"></script>
    <script>
      requirejs(['/js/application.js'], function(app) {
        requirejs(['app/detail']);
      });
    </script>
  </head>

  <body>
    <div id="info"></div>
    <div class="container">

    </div>
    <script id="tpl" type="text/html">

    </script>
  </body>

</html>
