<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>去哪吃饭</title>
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/layer.css">
    <script src="/js/lib/require.js" charset="utf-8"></script>
    <script>
      requirejs(['/js/application.js'], function(app) {
        requirejs(['app/index']);
      });
    </script>
  </head>

  <body>
    <div class="container">
      <div class="box">
        <h1 id="title" class="title">主人，今天去哪吃饭？</h1>
        <div id="info" class="info" style="display:none"></div>
        <div id="go" class="go" style="display:none">Go!</div>
      </div>
      <div class="btn-group">
        <button id="play" class="btn btn-play">开始</button>
        <button id="stop" class="btn btn-stop" disabled="true">停止</button>
      </div>
    </div>

  </body>

</html>
